---
---
    
@import "bootstrap";



/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Dimensions

$max-content-width: 1000px;

// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

/* Set theme colors *************************/
$theme-color:         $blue-color-dark;

$link-color:          $theme-color;
$text-color:          #111 !default;



.well {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

img { margin-bottom: 24px; 
     margin-top: 17px; 
    border-radius:2%;
}


body {
	padding-top: 0px;
    height: 100%;
    position: relative;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}



/* Top navigation bar */

.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 15px;
    border: 1px solid transparent;
}

.navbar-brand {
    float: left;
    padding: 10px 22px 0px 0px;
    font-size: 40px;
    line-height: 50px;
    height: 80px;
    margin-left: -10px !important;
}

.navbar-nav {
    padding-top: 15px;
}

.navbar-right {
    float: right !important;
    margin-right: -20px;
    padding-top: 15px;
}

p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}


pubtit {
	font-weight: bold;
}

firstp {
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
  overflow: hidden;
  display: block;
  position: relative;
//   padding-bottom: 50px;
}

/* Home, News */
#newsid p {
	text-align: left;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid img { margin: 0px 3px 0px 0; border-radius:10%; box-shadow: 1px 1px 1px #e2e2e2 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 5px;
	padding-right: 5px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 0px;
}


/* Carusel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}


.panel {
    margin-bottom: 2px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}


img {
    height: auto;
    vertical-align: baseline;
    margin-bottom: 0;
}

.container-fluid {
    text-align: justify;
    max-width: 1170px !important;
    // padding-bottom: 50px;
}



/******************************************************************************
 * Content
 ******************************************************************************/

 body {
    padding-bottom: 50px;
    color: $text-color;
    margin-bottom: 0px;
    min-height: 98vh;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif !important; 
  }
 
  body.fixed-top-nav {
    // Add some padding for the nav-bar.
    padding-top: 56px;
  }
 
  body.sticky-bottom-footer {
    // Remove padding below footer.
    padding-bottom: 0;
  }
 
 .container {
   max-width: 1170px;
  //  max-width: $max-content-width;
 }


 .container.content.page{
   margin-left: 0;
   margin-right: 0;

 }
 
 // Profile
 .profile {
   img {
     width: 100%;
   }
 }
 
 // TODO: redefine content layout.
 
 
 /******************************************************************************
  * Publications
  ******************************************************************************/
 
 // TODO: redefine publications layout.
 
 
 /*****************************************************************************
 * Projects
 *****************************************************************************/
 
 // TODO: redefine projects layout.
 

 /*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/


 
// Typography

a, table.table a {
    color: $theme-color;
    &:hover {
      color: $theme-color;
      text-decoration: underline;
    }
    &:hover:after {
      width: 100%;
    }
  }
  
  
  /**
   * Images
   */
   img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  
  // Math
  
  .equation {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  // Caption
  
  .caption {
    font-size: 0.875rem;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  
  // Profile
  
  .profile {
    margin-left: 1rem;
    width: 100%;
  
    .address {
      margin-bottom: 5px;
      margin-top: 5px;
      font-family: monospace;
      font-size: 1.2rem;
      p {
        display: inline-block;
        margin: 0;
      }
    }
  }
  
  @media (min-width: 576px) {
    .profile {
      width: 30%;
      .address {
        p { display: block; }
      }
    }
  }
  
  .post-description {
    margin-bottom: 2rem;
    a {
      color: inherit;
      font-size: 0.875rem;
      &:hover {
        color: $theme-color;
        text-decoration: none;
      }
    }
  }
  
  
  // Navbar customization
  
  .navbar {
    box-shadow: none;
    border-bottom: 1px solid $grey-color-light;
    opacity: 0.95;
  }
  .navbar.navbar-light {
    // Remove link decoration
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .navbar-nav .nav-item .nav-link {
      &:hover {
        color: $theme-color;
      }
    }
    .navbar-nav .nav-item.active>.nav-link {
        background-color: inherit;
        color: $theme-color;
        font-weight: bolder;
        &:hover {
          color: $theme-color;
        }
    }
    .contact-icon {
      font-size: 2rem;
      a {
        color: $grey-color-dark;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
  
  .navbar-toggler {
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      background-color: $grey-color-dark;
      border-radius: 1px;
      margin-bottom: 4px;
      transition: all 0.2s;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }
  
  .navbar-toggler.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
  
  
  // News
  
  .news table td {
    font-size: 1rem;
  }
  
  
  // Social (bottom)
  
  .social {
    text-align: center;
    .contact-icon {
      font-size: 2rem;
      a {
        color: $grey-color-dark;
        &:hover {
          color: $theme-color;
        }
      }
    }
    .contact-note {
      font-size: 0.8rem;
    }
  }
  
  
  // Footer
  
//   footer.fixed-bottom {
//     border-color: #e7e7e7;
//     border-top: 1px solid #e8e8e8;
//     color: lighten($grey-color, 25%);
//     font-size: 90%;
//     .container {
//       padding-top: 9px;
//       padding-bottom: 8px;
//     }
//     a {
//       color: white;
//       &:hover {
//         color: lighten($theme-color, 25%);
//         text-decoration: lighten($grey-color, 25%);;
//       }
//     }
//   }
  
  footer.fixed-bottom {
    border-top: 1px solid #e8e8e8;
    width: 100%;
    padding-top: 15px;
    font-size: 90%; 
    position: absolute;
    height: 50px;
    bottom: 0px;
    margin-bottom: 0px;
  }
  

  footer.sticky-bottom {
    border-top: 1px solid #e8e8e8;
    width: 100%;
    padding-top: 5px;
    // padding-bottom: 5px;
    font-size: 80%; 
    position: absolute;
    height: 45px;
    bottom: 0px;
    margin-bottom: 0px;
  }
  
  
  // Blog
  
  .header-bar {
    border-bottom: 1px solid $grey-color-light;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    h1 {
      color: $theme-color;
      font-size: 5rem;
    }
  }
  
  .post-list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    li {
      border-bottom: 1px solid $grey-color-light;
      list-style: none;
      padding-top: 2rem;
      padding-bottom: 2rem;
      .post-meta {
        color: $grey-color;
        font-size: 0.875rem;
        margin-bottom: 0;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
  
  .pagination .page-item.active .page-link {
    background-color: $theme-color;
    &:hover {
      background-color: $theme-color;
    }
  }
  
  
  // Distill
  
  .distill {
    a:hover {
      border-bottom-color: $theme-color;
      text-decoration: none;
    }
  }
  
  
  // Projects
  
  .projects {
    .grid-item {
      width: 250px;
      margin-bottom: 10px;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: $theme-color;
        }
      }
    }
    .card img {
      max-height: 200px
    }
  }
  
  
  // Publications
  
  .publications {
    margin-top: 2rem;
    h1 {
      color: $theme-color;
      font-size: 2rem;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h2 {
      margin-bottom: 1rem;
      span {
        font-size: 1.5rem;
      }
    }
    h2.year {
      color: $grey-color-light;
      border-top: 1px solid $grey-color-light;
      padding-top: 1rem;
      margin-top: 2rem;
      margin-bottom: -2rem;
      text-align: right;
    }


    ol.bibliography {
      padding: 0;
      margin-top: 0;
      li {
        margin-bottom: 1rem;
        .abbr {
          height: 2rem;
          margin-bottom: 0.5rem;
          abbr {
            display: inline-block;
            background-color: $theme-color;
            padding-left: 1rem;
            padding-right: 1rem;
            a {
              color: white;
              &:hover {
                text-decoration: none;
              }
            }
          }
          .award {
            color: $theme-color !important;
            border: 1px solid $theme-color;
          }
        }
        .title {
          font-weight: bolder;
        }
        .author {
          a {
            color: #555555;
            border-bottom: 1px dashed $theme-color;
            &:hover {
                border-bottom-style: solid;
                text-decoration: none;
            }
          }
          > em {
            border-bottom: 1px solid;
            font-style: normal;
          }
        }
        .links {
          a.btn {
            color: $text-color;
            border: 1px solid $text-color;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            &:hover {
              color: $theme-color;
              border-color: $theme-color;
            }
          }
        }
        .hidden {
          font-size: 0.875rem;
          max-height: 0px;
          overflow: hidden;
          text-align: justify;
          -webkit-transition: 0.15s ease;
          -moz-transition: 0.15s ease;
          -ms-transition: 0.15s ease;
          -o-transition: 0.15s ease;
          transition: all 0.15s ease;
  
          p {
            line-height: 1.4em;
            margin: 10px;
          }
          pre {
            font-size: 1em;
            line-height: 1.4em;
            padding: 10px;
          }
        }
        .hidden.open {
          max-height: 100em;
          -webkit-transition: 0.15s ease;
          -moz-transition: 0.15s ease;
          -ms-transition: 0.15s ease;
          -o-transition: 0.15s ease;
          transition: all 0.15s ease;
        }
        div.abstract.hidden {
          border: dashed 1px white;
        }
        div.abstract.hidden.open {
          border-color: $grey-color;
        }
      }

    }

    span.author.a{
      color: #555555 !important;
    }


  }
  
  img {
    max-width: 100%;
  }


// customization
.profile-thumbnail {
  object-fit: cover;
  object-position: center top;
  width: 200px;
  height: 200px;
}

.pos_header {
  margin-left: 0rem;
}

.people {
  margin: auto;
  text-align: center;
  margin-top: 0.75em;
}

.list-item-people {
  display: inline-block;
  padding-right: 1em;
}

.list-post-title img {
  margin-bottom: 0.75em;
  margin-top: 1.25em;
}

.list-post-title .name {
  font-size: 18px;
}

.list-post-title {
  color: black;
  margin-bottom: .25rem;
}

.list-post-title a {
  color: #333;
}

.list-detail {
  font-size: 15px;
  color: #838383;
}

.list-item a:hover, .list-post-title:hover .name, .list-post-title .name:hover {
  color: #c42929;
}

table {
  display: table;
  margin-bottom: 5rem;
  width: 100%;
  font-size: 100%;
  border: 1px solid #b4b3b3;
  border-collapse: collapse;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
  font-size: 100%;
}


hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eeeeee;
}


ul{
  margin-top: 0;
  margin-bottom: 11px;
  padding-left: 20px;
}


ol{
  margin-top: 0;
  margin-bottom: 11px;
  padding-left: 25px;
}



button{
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}




// Project

/** {
	outline: 1px solid red !important;
}*/
pre {
	background: #f4f4f4;
	border: 1px solid;
	border-left: 3px solid;
	border-radius: 6px;
	color: #666;
	page-break-inside: avoid;
	/*font-family: monospace;*/
	font-size: 15px;
	/*line-height: 1.6;*/
	/*margin-bottom: 1.6em;*/
	max-width: 100%;
	overflow: auto;
	/*padding: 1em 1.5em;*/
	display: block;
	word-wrap: break-word;
}

figure {
  text-align: center !important;
}

figcaption {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

img.smallimg{
  height: 16px !important;
  vertical-align: baseline;
  border-radius: 2%;

}

abstract {
  text-align: justify;
}

h2.section-title {
  font-weight: bold !important;
  padding-top: 36px;
  font-size: 32px;
  text-align:center !important; 
}

h5.section-title {
  font-weight: bold !important;
  font-size: 28px;
}

h5.pubname {
  padding-top: 16px; 
  text-align:center !important; 
  font-style: italic;
  width: 100%;
}

nav {
  padding-bottom: 16px; 
  text-align:center !important; 
  width: 100%;
}

h2.section-title {
  align:center;
  font-weight: bold !important;
  font-family: Times New Roman;
  padding-top: 36px
}

a.author{
  font-family: cabin; 
  margin-right: 20px;
}